<h2 style="border-bottom: 1px solid #fff;">
  <mat-icon
    style="position: relative;
    top: 2px;"
    >assignment
  </mat-icon>
  Osoby na vstupence
</h2>

<div class="right" *ngIf="tickets$">
  <div fxFlex="column" fxFlex="100%">
    <div fxLayoutAlign="start center" style="margin-top: 10px;">
      <span></span> <span fxFlex></span>
      <span fxLayoutAlign="end center"
        ><button style="margin: 0px 8px;" mat-mini-fab color="basic">
          <mat-icon>delete</mat-icon>
        </button></span
      >
      <span fxLayoutAlign="end center"
        ><button style="margin: 0px 8px;" mat-mini-fab color="primary">
          <mat-icon>edit</mat-icon>
        </button></span
      >
    </div>
  </div>
</div>
