<h2 style="border-bottom: 1px solid #fff;">
  <mat-icon
    style="position: relative;
    top: 2px;"
    >assignment
  </mat-icon>
  Osoby na vstupence
</h2>

<div class="right" *ngIf="tickets$">
  <div fxFlex="column" fxFlex="100%">
    <div
      fxLayoutAlign="start center"
      *ngFor="let ticket of (tickets$ | async); let i = index"
      style="margin-top: 10px;"
    >
      <span
        >{{ ticket?.firstName }} {{ ticket?.surname }}, {{ ticket?.age }} let.
        typ: <b>{{ ticket?.productName }}</b
        >, cena: <b>{{ ticket?.price }} CZK</b></span
      >
      <span fxFlex></span>
    </div>
  </div>
</div>

<div>
  <!--
    <button mat-raised-button color="primary">Vytvořit objednávku</button>
  -->
</div>
